<!DOCTYPE html>
{% if page.title %} {% set title = page.title %} {% elif section.title %} {% set
title = section.title %} {% elif config.title %} {% set title = config.title %}
{% endif %} {% if page.description %} {% set description = page.description |
truncate(length=150) %} {% elif section.description %} {% set description =
section.description | truncate(length=150) %} {% elif page.summary %} {% set
description = page.summary | truncate(length=150) %} {% elif section.summary %}
{% set description = section.summary | truncate(length=150) %} {% elif
config.description %} {% set description = config.description |
truncate(length=150) %} {% else %} {% set description = "" %} {% endif %}
<html lang="{{ config.default_language }}">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#252627" />
    <meta name="description" content="{{ title }}" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta
      property="og:image"
      content="{{ get_url(path='logo.svg', trailing_slash=false) }}"
    />
    <meta property="og:url" content="{{ get_url(path='') }}" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta
      name="twitter:image"
      content="{{ get_url(path='logo.svg', trailing_slash=false) }}"
    />

    <link
      rel="icon"
      href="{{ get_url(path='favicon.png', trailing_slash=false) }}"
    />
    <link
      rel="apple-touch-icon"
      href="{{ get_url(path='logo.svg', trailing_slash=false) }}"
    />

    <link
      rel="stylesheet"
      href="{{ get_url(path='main.css', trailing_slash=false) }}"
    />
    <script
      src="{{ get_url(path='main.js', trailing_slash=false) }}"
      type="module"
    ></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <a id="skip-header" href="#main-content">Zum Inhalt springen</a>
    <header>
      <a class="image-container" id="logo" href="/" tabindex="-1"
        ><img
          id="header-image"
          src="{{ get_url(path='logo.svg', trailing_slash=false) }}"
          alt="Chaostreff Backnang Logo"
      /></a>
      <nav>
        <a href="{{ get_url(path='/#termine') }}">Termine</a>
        <a href="{{ get_url(path='/#kontakt') }}">Kontakt</a>
        <a href="{{ get_url(path='/#dienste') }}">Dienste</a>
        <a href="{{ get_url(path='/verein') }}">Verein</a>
        <a href="https://fsck.ctbk.de/">FSCK</a>
      </nav>
      <p id="space-text">
        <strong id="space-state"></strong><br /><span
          >Nächstes Treffen: siehe <a href="/#termine">Termine</a></span
        ><br /><span id="space-last-update"></span>
      </p>
      <!-- TODO: explainer page for the spaceapi and how we implement it -->
      <a
        class="image-container"
        id="space-image-container"
        href=""
        ><img
          id="space-image"
          src="{{ get_url(path='/img/unknown.png') }}"
          alt="Space Icon"
      /></a>
    </header>
    <main id="main-content">
      <section class="main-text">
        {% if section %} {{ section.content | safe }} {% else %} {{ page.content
        | safe }} {% endif %}
      </section>
    </main>
    <footer>
      © 2024 Chaostreff Backnang |
      <a href="{{ get_url(path='/impressum') }}">Impressum</a> |
      <a href="{{ get_url(path='/datenschutz') }}">Datenschutz</a>
    </footer>

    <template id="calendar">
      <table>
        <tbody></tbody>
      </table>
    </template>
    <template id="calendar-date">
      <tr class="calendar-date">
        <th colspan="2">
          <time></time>
        </th>
      </tr>
    </template>
    <template id="calendar-entry">
      <tr class="calendar-entry" data-uid="">
        <td class="time"></td>
        <td>
          <p><em class="summary"></em> | <span class="location"></span></p>
          <p class="description"></p>
          <p class="categories"></p>
        </td>
      </tr>
    </template>
  </body>
</html>
